<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>

	<!-- 카멜케이스 규칙으로 변환 -->
   <settings>
	    <setting name="mapUnderscoreToCamelCase" value="true"/>
	    <setting name="callSettersOnNulls" value="true"/>
	    <setting name="jdbcTypeForNull" value="NULL"/>
	    <setting name="defaultStatementTimeout" value="60"/>
	</settings>
	
    <typeAliases>
       <typeAlias alias="hashMap" type="java.util.HashMap" />
       <typeAlias alias="map" type="java.util.Map" />
       <typeAlias alias="camelMap" type="com.appetizer.subway.common.MapToCamelMap"/>
    </typeAliases>
    
    
    
</configuration>